<html>
    <head>
        <title>Foodies ohne Zeit</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            <h1><a href="/">Foodies ohne Zeit</a></h1>
        </div>

        <div>
            <h2><a href="">1. Rezept: Glutenfreies Back-wann-du-Lust-hast-Brot</a></h2>
            <p>250 g    Mehl, dunkel, glutenfrei</p>
            <p>150 g    Mehl, hell, glutenfrei</p>
            <p>100 g    Buchweizenmehl</p>
            <p>1 Würfel     Hefe, frisch</p>
            <p>1 ½ TL   Salz </p>
            <p>430 ml   Wasser, warm</p>
            <p>1 ½ EL   Chiasamen </p>
            <p>2 TL     Apfelessig </p>
            <p></p>
            <p>Zubereitung</p>
            <p></p>
            <p>Die frische Hefe in dem warmen Wasser auflösen.</p>
            <p></p>
            <p>500 g glutenfreies Mehl - ich nehme oft die Mischung wie oben angegeben - mit dem Salz, Essig, Chiasamen und der Hefe-Wassermischung mit einem Kochlöffel gut verrühren, so dass kein Mehl mehr sichtbar ist.</p>
            <p></p>
            <p>Die Schüssel gut abdecken und für mindestens 12 Stunden bis zu 5 Tagen, evtl. auch länger möglich, im Kühlschrank stehen lassen.</p>
            <p></p>
            <p>Backen könnt ihr, wann immer ihr Lust und Zeit habt. Den Teig mindestens 2 - 3 Stunden vor dem Backen aus dem Kühlschrank nehmen, nicht mehr rühren, damit die Struktur nicht zerstört wird. In eine geölte Königskuchenform füllen und abgedeckt an einem warmen Ort stehen lassen. </p>
            <p></p>
            <p>Den Ofen nicht vorheizen. Bei 200° C Ober-Unterhitze ca. 60 Minuten backen. Aus der Form nehmen und für weitere 10 - 15 Minuten weiter backen. Klopftest anwenden.</p>
            <p></p>
            <p>Tipp: Das ist ein flexibles Rezept, mögliche Variationen mit Brotgewürz, Körnern, Saaten, Karotten und Kräutern. </p>
            <p></p>
            <p>published: 15.06.2020, 10:30</p>
        </div>

        <div>

            <h2><a href="">Hallo Zusammen!</a></h2>
            <p>Hallo! Ich heiße Julian, bin 39 Jahre alt, arbeite als Projektmanager, und bin verheiratet mit 2 Kindern. Als Foodie ohne Zeit, habe ich diesen Blog erstellt, um Beiträge zum Thema Ernärung zu erstellen, und um meinem Interesse an gutem Essen Ausdruck zu verleihen. Hier ist so zu sagen eine Sammlung von Rezepten und Videos zum Theam backen für sich und andere.</p>
            <p>published: 15.06.2020, 10:00</p>
        </div>
    </body>
</html>